
<nav-bar></nav-bar>

<div class="eventdetail">

  <ul>
    <li><h1>Celebration dinner</h1></li>

    <li><h3>Location </h3> </li>
    <li>aquadis main branch</li>
    <br>

    <li><h3> Date</h3> </li>
    <li>02-02-2020</li>

    <br>

    <li><h3>Event details</h3> </li>
    <li>This is a special celebration dinner to welcome all new staff to our company. Make sure to dress up
      formally for this event.</li>

    <br>

    <li><h3> Status</h3> </li>
    <li>  
      <button class="button" routerLink="/foodAndDrink"> Accept </button>  
      <button class="button right-button" routerLink="/eventOverview"> Decline </button> 
    </li>

  </ul>
  <div class="eventdetail" >

  </div>




</div>

<!--</div>-->
