<div style="text-align:center">
  <header class="LogoDesktop">
    <img src='{{ logo }}'>
  </header>
  <h1 class="headerTitle">
    Forgot password
  </h1>

  <br>
  <!--Form for updating and getting your password-->
  <form [formGroup]="updatePasswordForm" method="POST">
    <div>
      <input class="form-control" type="email" formControlName="email" placeholder="Email">
    </div>
    <div *ngIf="updatePasswordForm.controls['email'].errors 
			&& (updatePasswordForm.controls['email'].dirty 
			|| updatePasswordForm.controls['email'].touched)" class="alert-danger">
      <div *ngIf="updatePasswordForm.controls['email'].errors.pattern">
        Email is invalid
      </div>
     <div *ngIf="updatePasswordForm.controls['email'].errors.required">
        Email is required
      </div>
    </div>		
    <br>
    <div>
      <input class="form-control" type="password" formControlName="password" placeholder="Password">
    </div>
    <div *ngIf="passwordempty" class="alert-danger">
      Password is required
    </div>
    <p *ngIf="validFormSubmitted && updatePasswordForm.pristine" class="succes">
      Password has been updated
    </p>
    <p *ngIf="validGetSubmitted && updatePasswordForm.pristine" class="succes">
      your password is "{{userpassword}}"
    </p>
    

  </form>
  <br>
  <button (click)="updatePassword()" class="button">Update password</button>
  
  <br>
  
  <br>
  <button (click)="getPassword()" class="button">Get password</button>

  <br>
  <br>

  <div>
    <a class="linkText" routerLink=''>Login</a>
  </div>
</div>