<!--The content below is only a placeholder and can be replaced.-->


<!--<div style="text-align:center">-->
  <nav-bar></nav-bar>
  
  <!--<div class="headText">-->
    <!--Upcoming events-->
  <!--</div>-->



  <br>

<div class="event-holder">

<div class="alert alert-primary"  routerLink="/eventOverview/2">

  <ul class="eventlist">
    <li><h3>Celebration dinner</h3></li>
    <li>Aquadis</li>
    <li>02-02-2020</li>
  </ul>

</div>

  <br>

  <div class="alert alert-primary"  routerLink="/eventOverview/4">
    <ul class="eventlist">
      <li><h3>Monday Meetup</h3></li>
      <li>Aquadis</li>
      <li>03-05-2022</li>
    </ul>
  </div>
</div>



<br>

<div class="alert alert-primary"  routerLink="/eventOverview/6">
  <ul class="eventlist">
    <li><h3>Study sunday</h3></li>
    <li>wibauthuis</li>
    <li>03-05-2023</li>
  </ul>
</div>
