@import '../../styles.css';


.eventdetail{
  padding-top: 10px;
  width: 100%;
  height: auto;
  color: rgb(3, 44, 126);
  font-size: 15px;
  float: left;
  padding-right: 5px;
}

.eventdetail h1{

  font-size: 20px;
  font-weight: bold;

}

.eventdetail h2{

  font-size: 20px;

}
.eventdetail h3{

  font-size: 15px;
  font-weight: bold;

}
.eventdetail ul{
  list-style: none;
}


/*.backbutton button{*/
  /*margin: -20px -50px;*/
  /*position:relative;*/
  /*top:50%;*/
  /*left:50%;*/
/*}*/
